body {
  background-color: #f8f9fa;
  font-family: "Ubuntu", sans-serif;
}

.logo-container {
  text-align: center;
}

.logo-img {
  max-width: 100%;
  height: auto;
  max-height: 100px;
}

.card {
  min-width: 450px;
  border-radius: 16px;
}
